.ViewContainer{
    display: inline-block;   
}

.viewButton {
    position: relative;
    box-shadow: 2px 2px 2px 1px #10101A;
    font-size: 16px;
    padding: 5px;
    margin-left: 5%;
    margin-top: 5%;
}