header {
    position: relative;
    top: 10px;
    height: 20%;
    padding-top: 10px;
    background-color: #FFE1AB;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 2px 1px #10101A;
    border-radius: 5px;
  }