

.landingPageWrapper{
    background-color: #B2CEFE;
}

.landingPageWrapper > header {
    background-color: #FFE1AB
}

.landingImageCopy {
    width: 90%;
    max-width: 600px;
    position: relative;
    background-color: #D7B0FE;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    box-shadow: 1px 1px 2px 1px #10101A;
}

.landingImageCopy > img {
    float: right;
    width: 80%;
}

.landingImageCopy > p {
    font-size: 20px;
}

@media only screen and (max-width: 500px){
    /*for mobile devices*/
    .landingImageCopy > p {
        font-size: 12px;
    }
    .landingImageCopy {
        height: 500px;
    }
    .landingImageCopy > img {
        width: 70%;
    }
}