
html{
    background-color: #B2CEFE;
}

.landingPageWrapper{
    background-color: #B2CEFE;
    height: 100%;
    width: 100%;
}

.landingPageWrapper > header {
    background-color: #FFE1AB
}

.landingImageCopy {
    width: 90%;
    max-width: 600px;
    position: relative;
    background-color: #D7B0FE;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    box-shadow: 1px 1px 2px 1px #10101A;
}

.landingImageCopy::after {
    content: "";
    clear: both;
    display: table;
  }

.landingImageCopy > img {
    float: right;
    width: 70%;
    padding: 5px;
    background-color: #B2CEFE;
}

.landingInformation {
    padding-right: 10px;
}

.landingInformation > p {
    font-size: 24px;
}

@media only screen and (max-width: 500px){
    /*for mobile devices*/
    .landingInformation > p {
        font-size: 18px;
    }
    .landingImageCopy {
        height: 500px;
    }
    .landingImageCopy > img {
        width: 60%;
    }
}