

.landingPageWrapper{
    background-color: #6E75FF;
}

.landingPageWrapper > header {
    background-color: #2A34E7
}

.landingImageCopy {
    width: 90%;
    max-width: 600px;
    position: relative;
    background-color: #C3C6FF;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    box-shadow: 5px 5px 10px 1px #10101A;
}

.landingImageCopy > img {
    float: right;
    width: 80%;
    padding: 2px;
    box-shadow: 2px 2px 5px 1px #10101A;
}

.landingImageCopy > p {
    font-size: 20px;
}

@media only screen and (max-width: 500px){
    /*for mobile devices*/
    .landingImageCopy > p {
        font-size: 12px;
    }
    .landingImageCopy {
        height: 500px;
    }
    .landingImageCopy > img {
        width: 70%;
    }
}