.loginContainer {
    display: inline-block;
    background-color: rgb(224, 235, 255);;
    text-align: center;
    width: 40%;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px 1px #10101A;
    padding: 5px;
}
input {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

legend {
    margin-left: auto;
    margin-right: auto;
}

button{
    margin-bottom: 5%;
}

@media only screen and (max-width: 500px) {
    .loginContainer {
      order: 1;
      position: relative;
      width: 240px;
      margin-left: auto;
      margin-right: auto;
    }
}