.loginContainer {
    display: inline-block;
    background-color: #AAFEB5;
    text-align: center;
    width: 40%;
    margin-bottom: 5px;
    box-shadow: 1px 1px 1px 1px #10101A;
    padding: 10px;
}
input {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

button{
    margin-bottom: 5%;
}