.registerContainer {
    position: absolute;
    display: inline-block;
    background-color: #2A34E7;
    text-align: center;
    width: 40%;
    right: 0px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 10px 1px #10101A;
}

input {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

button{
    margin-bottom: 5%;
}