.imgContainer {
    display: block;
    margin: 15px auto;
    padding: 15px;
    background-color: #D7B0FE;
    width: 85%;
    height: 425px;
    box-shadow: 1px 1px 1px 1px #10101A;
    text-align: center;
}

.tutorialImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 300px;
    object-fit: contain;
    border: 1px solid black;
}

.imgContainer > h3 {
    position: relative;
    display: inline-block;
    background-color: #EEEEEE;
    padding: 3px;
    border: black solid 1px;
}