.imgContainer {
    display: block;
    margin: 15px auto;
    padding: 15px;
    background-color: #D7B0FE;
    max-width: 550px;
    width: 85%;
    box-shadow: 1px 1px 1px 1px #10101A;
    text-align: center;
}

.tutorialImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    max-width: 500px;
    max-height: 500px;
}

.imgContainer > h3 {
    position: relative;
    display: inline-block;
}