.UserHome {
    background-color: dimgrey;
    text-align: center;
    padding: 10px;
}

.ImageWrapperContainer{
    background-color: darkgrey   
}

img{
    background-color: blue;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.errorMessage{
    background-color: black;
    color: white;
}