

.UserHome {
    background-color: #6E75FF;
    text-align: center;
    padding: 10px;
}

.dateViewContainer {
    display: inline-block;
    width: 95%;
    max-width: 660px;
    background-color: #2A34E7;
    box-shadow: 5px 5px 10px 1px #10101A;
}

.ImageWrapperContainer{
    display: block;
    margin: 15px auto;
    padding: 15px;
    background-color: #C3C6FF;
    max-width: 550px;
    width: 85%;
    box-shadow: 5px 5px 10px 1px #10101A;

}

/* .frontImage, .backImage{
    position: relative;
    background-color: black;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding: 10px;
} */

.errorMessage{
    background-color: black;
    color: white;
}

.frontImageWrapper, .backImageWrapper{
    margin-left: auto;
    margin-right: auto;
    width: 248px;
}

img {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}

.ratePainWrapper {
    background-color: #2A34E7;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: 5px 5px 10px 1px #10101A;
}