

.Journal {
  background-color: #B2CEFE;
  width: 100%;
  height: 100%;
  border: black, solid, 5px;
}

.userInputs {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 5px;
}